#nav-menu {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: 3;
  background: #6070ff;
  mix-blend-mode: multiply;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}

#nav-menu > ul {
  flex-direction: column;
  margin: 50px 28px;
}

/* Add here */

/* Add here */
